.footer-main {
  // position: absolute;
  // bottom: 0px;
  background-color: #272626;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 600px;
  color: white;
}
.footer-content {
  margin-top: 198px;
  line-height: 22px;
}
.footer-heading {
  font-size: 20px;
}
.copyright-text {
  padding-top: 80px;
}
ul {
  list-style: none;
  padding: 0px;
  li {
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
    line-height: 22px;
  }
  li:hover {
    transition: 0.5s;
    color: #c0392b;
  }
}
