<div class="row footer-main">
  <div class="container footer-content">
    <div class="col-2 pull-left">
      <div class="footer-heading">Sitemap</div>
      <br>
      <ul>
        <li (click)="reRoute('/home')">Home</li>
        <li (click)="reRoute('/about')">About</li>
        <li (click)="reRoute('/services')">Services</li>
        <li (click)="reRoute('/products')">Products</li>
        <li (click)="reRoute('/blog')">Blog</li>
        <li (click)="reRoute('/contact')">Contact</li>
      </ul>
    </div>
    <div class="col-2 pull-left">
      <div class="footer-heading">Socialmedia</div>
      <br>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Linkedin</li>
        <li>Youtube</li>
      </ul>
    </div>
    <div class="col-6 pull-right text-right">
      <div class="footer-heading">Botz Embedded Solution Pvt Ltd</div>
      <br>
      3rd floor, Kallyani Tower,<br>
      Deshabhimani Jn,<br>
      Opposite Syndicate Bank,<br>
      Kaloor, Cochin – 17,<br>
      Kerala<br>
      Email : info@botz.co.in<br>
      Office : 0484-4860077
    </div>
    <div class="col-12 m-0 text-center clear-both copyright-text">
      @2019 Botz Embedded Solutions All Rights Reserved
    </div>
  </div>
</div>