.resitance-finder-main {
  margin-top: 100px !important;
  padding-bottom: 100px !important;
  height: 100vh;
  background-color: #ffffff;

  // ux changes for footer
  margin-bottom: 600px !important;
  box-shadow: 1px 14px 15px 2px #00000069;
  border-bottom-left-radius: 2.7px;
  border-bottom-right-radius: 2.7px;
}
.heading-main {
  margin-top: 100px !important;
  padding-bottom: 50px !important;
  font-size: 50px;
  font-family: SourceCodeProBlack;
}
.sub-heading {
  font-size: 1rem;
  padding-bottom: 50px !important;
}
.multi-select {
  padding-bottom: 50px !important;
}
.four-band-app-right-main {
  font-size: 50px;
}
