.about-main {
  margin-top: 200px;
}
.about-heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
}
p {
  font-size: 1rem;
  text-align: justify;
}
.about-text {
  padding-bottom: 58px;
}
.our-team-main {
  background-color: #dfe6e9;
}
.team-heading {
  margin-top: 100px;
}
.team-rows {
  padding-bottom: 72.6px !important;
}
.team-rows:last-child {
  padding-bottom: 100px !important;
}
.team-thumb-img {
  width: 100%;
  object-fit: contain;
  border-radius: 1000px;
  filter: grayscale(100%);
  transition: 0.5s;
}
.team-thumb-img:hover {
  cursor: pointer;
  transition: 0.5s;
  filter: none;
}
.team-info {
  margin: auto 0px;
}
.team-info-name {
  font-size: 20px;
  line-height: 1.9;
}
.team-info-designation {
  font-family: SourceCodeProLight;
}
.blog-heading {
  font-size: 268%;
  // font-family:SourceCodeProBlack ;
  text-align: center;
}
.auther {
  font-size: 106%;
  margin-top: 5%;
  //font-family:SourceCodePro;
  text-align: center;
}
.blog-img {
  margin-top: 5%;
  margin-left: 21.5%;
  width: 61%;
}
.mini-h1 {
  margin-bottom: 2%;
  margin-top: 5%;

  font-size: 100%;
  font-family: SourceCodeProBlack;
}
.tag {
  margin-top: 5%;
  margin-bottom: 5%;
}
button {
  background-color:  #e90303;
  width: 150%;
  height: 120%;
  color: white;
  font-family: SourceCodeProLight;
  border-radius: 15vh;
  border: 0px;
}
.btn {
  margin-right: 4%;
}
