<div class="container">
  <div class="aboutclass">
    <h3>About Us</h3>
  </div>

  <div class="row ">

    <div class="clo-md-6 ">BOTZ EMBEDDED SOLUTIONS is a international multi-
      technology research and development center based in
      India, providing full lifecycle embedded software and
      hardware development services.We have specialises in
      creating bespoke production grade embedded software
      systems.We have extensive knowledge and experience in
      developing software and can bring this knowledge to help
      to bring to fruition your embedded systems projects. We
      have extensive industry connections, which allows us to
      provide not only software expertise but also hardware
      and mechanical design. This is the place where advanced
      technology fusion is created in order to provide
      solutions to the ‘nearly impossible’. Our target market
      includes high-tech companies that develop and
      manufacture products to various sectors.Our company is
      the leader in the multi-technology product development
      market in India. Our key personal have the knowledge and
      proven experience which is the base for providing
      workable solutions and making dreams a reality.</div>
    <div class="col-md-6 ">We are a Global Automation Solutions provider using
      world class Robotic products & technologies. We want to
      make this generation of future users more comfortable
      with robots not only as consumers but also as developers
      of technology BOTZ- Your partner for research and
      development services in outsourcing. Developing of
      embedded code development from multicore MCU/CPU and
      DSP. We have a team of highly skilled and motivated
      engineers in India. We thrive on challenges and believe
      in fulfilling our commitments on time. Our mission is to
      work closely with customers, understand their
      requirements and then provide them the best solution
      possible, ecause and effect essay topics college nsuring
      the best quality and personalized service our customers
      expect to get.</div>
  </div>
</div>