<div class="row col-md-12 m-0 p-0 first-row" #rowOne>
  <div class="container about-main">
    <div class="about-heading" #heading>About Us</div>
    <div class="row about-text" #paragraph>
      <div class="col-6">
        <p>BOTZ EMBEDDED SOLUTIONS is a international multi-
          technology research and development center based in
          India, providing full lifecycle embedded software and
          hardware development services.We have specialises in
          creating bespoke production grade embedded software
          systems.We have extensive knowledge and experience in
          developing software and can bring this knowledge to help
          to bring to fruition your embedded systems projects. We
          have extensive industry connections, which allows us to
          provide not only software expertise but also hardware
          and mechanical design. This is the place where advanced
          technology fusion is created in order to provide
          solutions to the ‘nearly impossible’.
        </p>
        <p>Our target market
          includes high-tech companies that develop and
          manufacture products to various sectors.Our company is
          the leader in the multi-technology product development
          market in India. Our key personal have the knowledge and
          proven experience which is the base for providing
          workable solutions and making dreams a reality.
        </p>
      </div>
      <div class="col-6">
        <p>We are a Global Automation Solutions provider using
          world class Robotic products & technologies. We want to
          make this generation of future users more comfortable
          with robots not only as consumers but also as developers
          of technology BOTZ- Your partner for research and
          development services in outsourcing. Developing of
          embedded code development from multicore MCU/CPU and
          DSP. We have a team of highly skilled and motivated
          engineers in India. We thrive on challenges and believe
          in fulfilling our commitments on time.
        </p>
        <p>Our mission is to
          work closely with customers, understand their
          requirements and then provide them the best solution
          possible, ecause and effect essay topics college nsuring
          the best quality and personalized service our customers
          expect to get.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-12 m-0 p-0 our-team-main" #rowTwo>
  <div class="container secon-container" #containerTwo>
    <div class="about-heading team-heading">Our Team</div>
    <div class="row m-0 p-0 col-md-12 team-rows">
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/anoopmathew.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Anoop Mathew</div>
          <div class="team-info-designation">Sr.Embedded Programmer</div>
        </div>
      </div>
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/rijut.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Riju Thazhathuveettil</div>
          <div class="team-info-designation">Sr.Hardware Engineer</div>
        </div>
      </div>
    </div>
    <div class="row m-0 p-0 col-md-12 team-rows">
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/jisminraj.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Jismin Raj</div>
          <div class="team-info-designation">CTO</div>
        </div>
      </div>
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/anandmathew.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Anand Mathew</div>
          <div class="team-info-designation">HR</div>
        </div>
      </div>
    </div>
    <div class="row m-0 p-0 col-md-12 team-rows">
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/vineethk.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Vineeth K</div>
          <div class="team-info-designation">PCB Designer
            & Graphic Designer</div>
        </div>
      </div>
      <div class="col-6 row p-0 m-0">
        <div class="col-6 pl-0">
          <img src="assets/img/levinep.jpg" class="team-thumb-img">
        </div>
        <div class="col-6 team-info p-0">
          <div class="team-info-name">Levin E P</div>
          <div class="team-info-designation">Web Developer</div>
        </div>
      </div>
    </div>
  </div>

</div>