.about-main{
  margin-top: 200px;
}
.about-heading{
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
}
p{
  font-size: 1rem;
  text-align: justify;
}
.about-text{
  padding-bottom: 58px;
}