<div class="row col-12 p-0 m-0 blog-article-main">
  <div class="container">
    <div class="blog-heading text-center">{{blog.title}}</div>
    <div class="author text-center">published by <span class="author-font">{{blog.author}}</span> on <span
        class="author-font">{{blog.date}}</span></div>
    <div class="blog-img-wrapper">
      <img src="assets/img/ec1.png" class="blog-img">
    </div>
    <div class="blog-text">
      {{blog.desc}}
    </div>
    <div class="tag">Tags :
      <div class="btn" *ngFor="let tag of blog.tags"><button type="button">{{tag.itemName}}</button></div>
    </div>
  </div>
</div>
<div class="related-post">
  <div class="container">
    <div class="relatedpost-heading">Related posts</div>
  </div>
  <div class="row col-12 p-0 m-0 blogs-cards-row">
    <div class="container">
      <div class="row blog-cards-main">
        <div class="row col-12 m-0 p-0">
          <div *ngFor="let card of cardList" class="col-4 p-4">
            <div class="blog-card">
              <img src="assets/img/ec1.png" class="blog-img1">
              <div class="blog-card-text-main">
                <div class="blog-text-date">{{card.date}}</div>
                <div class="blog-text-title">{{card.title}}</div>
                <div class="blog-text-desc">{{card.desc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>