.Page-not-found-main {
  height: 100vh;
  background-color: #ffffff;
  // ux changes for footer
  margin-bottom: 600px !important;
  box-shadow: 1px 14px 15px 2px #00000069;
  border-bottom-left-radius: 2.7px;
  border-bottom-right-radius: 2.7px;
}
.heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
}
.Page-not-found-main-text {
  font-family: SourceCodeProLight;
  padding-bottom: 50px;
}
.row-wrapper {
  margin-top: 200px !important;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-icon {
  color: #ed3833;
  font-size: 10rem;
}
