.Page-not-found-main {
  height: 100vh;
}
.heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
  margin-top: 200px;
}
.Page-not-found-main-text {
  font-family: SourceCodeProLight;
  padding-bottom: 50px;
}
