<div class="row col-12 m-0 p-0 Page-not-found-main">
  <div class="container">
    <div class="col-12 row m-0 p-0 row-wrapper">
      <div class="col-12 col-sm-12 col-md-6 icon-wrapper" #icon>
        <fa class="error-icon" name="exclamation-triangle"></fa>
      </div>
      <div class="col-12 col-sm-12 col-md-6" #heading>
        <div class="heading 404-heading">
          404
        </div>
        <div class="Page-not-found-text" #content>
          Error PageNotFound
        </div>
      </div>
    </div>
  </div>
</div>