.blog-heading {
  font-size: 3.125rem;
  margin-top: 200px;
  font-family: SourceCodeProBlack;
  padding-bottom: 5%;
}
.author {
  font-size: 106%;
  font-family: SourceCodeProLight;
  padding-bottom: 5%;
  .author-font {
    font-family: SourceCodeProBlack !important;
  }
}
.blog-img-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.blog-img {
  height: 61%;
  width: 61%;
}
.blog-h1 {
  padding-bottom: 2%;
  font-size: 1.5rem;
  font-family: SourceCodeProBlack;
}
.blog-text {
  padding-bottom: 2%;
}
.tag {
  margin-top: 5%;
  margin-bottom: 5%;
}
button {
  background-color: #e90303;
  width: 150%;
  height: 120%;
  color: white;
  font-family: SourceCodeProLight;
  border-radius: 15vh;
  border: 0px;
}
.btn {
  margin-right: 4%;
}
.related-post {
  background-color: #dfe6e9;
  padding-top: 100px !important;
}
.relatedpost-heading {
  font-size: 3.125rem;
  padding-bottom: 50px;
  font-family: SourceCodeProBlack;
}
.blog-cards-main {
  padding-bottom: 112px;
}
.blog-card {
  // width: 399px;
  height: 463px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 0;
  transition: 0.5s;
}
.blog-card:hover {
  transition: 0.5s;
  // box-shadow: 0 3px 6px 0 #ed38334f;
  cursor: pointer;
}
.blog-img1 {
  width: 100%;
}
.blog-card-text-main {
  padding: 28px 13px 0px 13px;
}
.blog-text-date {
  font-size: 14px;
  color: #bebebe;
  padding-bottom: 10px;
}
.blog-text-title {
  font-size: 20px;
  font-family: SourceCodeProBlack;
  padding-bottom: 10px;
}
.blog-text-desc {
  color: #bebebe;
  padding-bottom: 10px;
  font-size: 0.8rem;
}
