<div class="container ">
  <div class="blog-heading">Blog Post Heading : Lorem ipsum heading</div>
  <div class="auther">published by Author on 24-05-2019</div>

  <div>
    <img src="assets/img/ec1.png" class="blog-img">
  </div>
  <div class="mini-h1">
    What is Lorem Ipsum?
  </div>
  <div class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry’s
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
    a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
    of Lorem Ipsum.

  </div>
  <div class="mini-h1">Why do we use it?</div>
  <div class="text-justify">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at
    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing
    packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’
    will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
    accident, sometimes on purpose (injected humour and the like).</div>
  <div class="tag">Tags :
    <div class="btn"><button type="button">tag one</button></div>
    <div class="btn"><button type="button">tag two</button></div>
    <div class="btn"><button type="button">tag three</button></div>
  </div>

</div>
<div class="related-post">
  <div class="container">
    <div class="relatedpost-heading">Related posts</div>
  </div>
  <div class="row col-12 p-0 m-0 blogs-cards-row">
    <div class="container">
      <div class="row blog-cards-main">
        <div class="row col-12 m-0 p-0">
          <div *ngFor="let card of cardList" class="col-4 p-4">
            <div class="blog-card">
              <img src="assets/img/ec1.png" class="blog-img1">
              <div class="blog-card-text-main">
                <div class="blog-text-date">{{card.date}}</div>
                <div class="blog-text-title">{{card.title}}</div>
                <div class="blog-text-desc">{{card.desc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>

