<div class="row p-0 m-0">
  <div class="container contact-main">
    <div class="contact-heading">
      Contact Us
    </div>
    <div class="col-12 row p-0 m-0">
      <div class="col-6 pl-0 m-0 left-main">
        Botz Embedded Solutions Pvt Ltd<br><br>

        3rd floor, Kallyani Tower,<br>
        Deshabhimani Jn, Opposite<br>
        Syndicate Bank, Kaloor,<br>
        Cochin – 17,<br>
        Kerala<br><br>

        <fa name="envelope"></fa> info@botz.co.in<br>
        <fa name="phone"></fa> 0484-4860077
      </div>
      <div class="col-6 pr-0 m-0 text-right right-main">
        For enquiry of projects and free technical support<br>
        submit your queries here:
        <div class="contact-form">
          <div class="col-12 row p-0 m-0 contact-item">
            <div class="form-label col-3 p-0 m-0">
              Name :
            </div>
            <div class="form-label col-9 p-0 m-0">
              <input class="cust-input" type="text" placeholder="Enter your name">
            </div>
          </div>
          <div class="col-12 row p-0 m-0 contact-item">
            <div class="form-label col-3 p-0 m-0">
              Email :
            </div>
            <div class="form-label col-9 p-0 m-0">
              <input class="cust-input" type="email" placeholder="Enter your email id">
            </div>
          </div>
          <div class="col-12 row p-0 m-0 contact-item">
            <div class="form-label col-3 p-0 m-0">
              Message :
            </div>
            <div class="form-label col-9 p-0 m-0">
              <textarea class="cust-input" placeholder="Type your message"></textarea>
            </div>
          </div>
          <div class="col-12 row p-0 m-0 contact-item">
            <div class="form-label col-3 p-0 m-0">
            </div>
            <div class="form-label col-9 p-0 m-0">
              <button class="btn regular-btn submit-btn">submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>