<div class="row p-0 m-0">
  <div class="container contact-main">
    <div class="col-md-6 p-0 m-0 contact-heading">
      Contact Us
    </div>
    <div class="col-md-12 row p-0 m-0">
      <div class="col-md-4 pl-0 m-0 left-main">
        Botz Embedded Solutions Pvt Ltd<br><br>

        3rd floor, Kallyani Tower,<br>
        Deshabhimani Jn, Opposite<br>
        Syndicate Bank, Kaloor,<br>
        Cochin – 17,<br>
        Kerala<br><br>

        <fa name="envelope"></fa> info@botz.co.in<br>
        <fa name="phone"></fa> 0484-4860077
      </div>
      <div class="col-md-8 pr-0 m-0 text-right right-main">
        For enquiry of projects and free technical support<br>
        submit your queries here:
      </div>
    </div>
  </div>
</div>