<div class="row col-12 m-0 p-0 version-main">
    <div class="container">
        <div class="heading version-heading">
            Version
        </div>
        <div class="version-text">
            v0.0.9
        </div>
        <div class="heading">
            Credit
        </div>
        <div class="credit-text">
            <div class="left-text">made with </div>
            <div class="icon-wrapper"><fa class="heart-icon" name="heart"></fa></div>
            <div class="right-text">from <span class="team-name">TeamAngularDevelopers</span></div>
        </div>
    </div>
</div>