.version-main {
  height: 100vh;
}
.heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
}
.version-heading {
  margin-top: 200px;
}
.version-text {
  font-family: SourceCodeProLight;
  padding-bottom: 50px;
}
.credit-text {
  font-family: SourceCodeProLight;
}
