<div class="p-2">
  <div class="row col-12 blog-main p-0 m-0">
    <div class="col-6 p-0">
      <img src="assets/img/ec1.png" class="img-class">
    </div>
    <div class="col-6 p-0 blog-main-text">
      <div class="blogdate">
        17th march
      </div>
      <div class="bloghead">
        Heading Of Blog Post One
      </div>
      <div class="blogtext">Lorem ipsum is a mockup text
        used for webdesign and other
        things Lorem ipsum is a mockup
        text used for webdesign and
        other things..
      </div>
    </div>
  </div>
</div>
<div class="row blog-cards-main">
  <div class="row col-12 m-0 p-0">
    <div *ngFor="let card  of cardList" class="col-4 p-4">
      <div class="blog-card">
        <img src="assets/img/ec1.png" class="blog-img">
        <div class="blog-card-text-main">
          <div class="blog-text-date">{{card.date}}</div>
          <div class="blog-text-title">{{card.title}}</div>
          <div class="blog-text-desc">{{card.desc}}</div>
        </div>
      </div>
    </div>
  </div>
</div>