.first-row {
  background-color: #ffffff;
}
.about-main {
  margin-top: 200px;
}
.about-heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 50px;
}
p {
  font-size: 1rem;
  // text-align: justify;
}
.about-text {
  padding-bottom: 58px;
}
.our-team-main {
  background-color: #dfe6e9;

  // ux changes for footer
  margin-bottom: 600px !important;
  box-shadow: 1px 14px 15px 2px #00000069;
  border-bottom-left-radius: 2.7px;
  border-bottom-right-radius: 2.7px;
}
// .secon-container {
//   opacity: 0;
// }
.team-heading {
  margin-top: 100px;
}
.team-rows {
  padding-bottom: 72.6px !important;
}
.team-rows:last-child {
  padding-bottom: 150px !important;
}
.team-thumb-img {
  width: 100%;
  object-fit: contain;
  border-radius: 1000px;
  filter: grayscale(100%);
  transition: 0.5s;
}
.team-thumb-img:hover {
  cursor: pointer;
  transition: 0.5s;
  filter: none;
}
.team-info {
  margin: auto 0px;
}
.team-info-name {
  font-size: 20px;
  line-height: 1.9;
}
.team-info-designation {
  font-family: SourceCodeProLight;
}
@media (max-width: 768px) {
  .team-rows {
    padding-bottom: 0px !important;
  }
  .team-member {
    padding-bottom: 10px !important;
  }
}
