<div class="login-main">
  <div class="custom-card">
    <div class="card-logo">
      <img src="assets/img/Logo1 .png" class="card-logo">
    </div>
    <div class="heading">
      Admin login
    </div>
    <div class="input-wrapper">
      <input type="text" class="text-input" placeholder="username">
      <input type="password" class="text-input" placeholder="password">
    </div>
    <div class="login-button-wrapper">
      <button class="login-button">Login</button>
    </div>
  </div>
</div>