<div class="login-main row p-0 m-0">
  <div class="custom-card col-sm-8 col-md-8 col-lg-4 p-0 m-0">
    <div class="card-logo col-12 p-0">
      <img src="assets/img/Logo1 .png" class="card-logo">
    </div>
    <div class="heading text-center">
      Admin login
    </div>
    <div class="input-wrapper">
      <input type="text" class="text-input" placeholder="username" [(ngModel)]="username">
      <input type="password" class="text-input" placeholder="password" [(ngModel)]="password">
    </div>
    <div class="login-button-wrapper col-md-8 col-lg-8">
      <button class="btn login-button" (click)="login()">Login</button>
    </div>
  </div>
</div>