.products-main {
  background-color: #dfe6e9;
  padding-bottom: 150px !important;

  // ux changes for footer
  margin-bottom: 600px !important;
  box-shadow: 1px 14px 15px 2px #00000069;
  border-bottom-left-radius: 2.7px;
  border-bottom-right-radius: 2.7px;
}

.mainclass {
  margin-top: 200px;
  font-family: SourceCodeProBlack;
  font-size: 50px; //font size should be changed to rem
  padding-bottom: 50px; //font size should be changed to rem
}
.img-col {
  height: 100%;
  margin: auto 0px !important;
}
.mini {
  font-family: SourceCodeProBlack;
  margin-bottom: 25px; //change px to %
  font-size: 1.563rem;
}
@media (min-width: 320px) {
  // .mainclass{
  //   margin-top: 200px;
  //   font-size: 2.18rem;
  // }
  .imag{
    height: 220px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mini{
    font-size: 1.45rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.card {
  //   height: 400px;
  padding: 1%;
  margin-bottom: 50px; //font size should be changed to rem
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 0px;
}

.subone {
  font-size: 0.813rem;
  margin: auto 0;
}

@media (min-width: 576px){
  
}
p {
  text-align: justify;
  font-size: 1rem;
}
