<div class="row p-0 m-0 products-main">
  <div class="container">
    <div class="mainclass">
      Our Products
    </div>
    <div class="card">
      <div class="col-12 row p-0 m-0">
        <div class="col-5">
          <!-- img goes here -->
        </div>
        <div class="col-7 subone">
          <div class="mini">
            L293D Motor Driver
          </div>
          <div>
            <p>
              L293D is a typical Motor driver or Motor Driver IC which
              allows DC motor to drive good topic for cause and effect
              essay on either direction. L293D is a 16-pin IC which can
              control a set of two DC motors simultaneously in any
              direction. It means that you can control two DC motor
              with a single L293D IC.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="col-12 row p-0 m-0">
        <div class="col-5">
          <!-- img goes here -->
        </div>
        <div class="col-7 subone">
          <div class="mini">
            Max232 Board
          </div>
          <div>
            <p>
              MAX232 Board is used to connect the MAX232 circuit to a
              prototype board. There is a Dual RS232 Driver/Receiver
              MAX232N provided on the board. This circuit is necessary
              for establishing RS232 communication. All available
              components are customer service essays clearly marked on
              the board so that there is no need for additional
              schematics.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="col-12 row p-0 m-0">
        <div class="col-5">
          <!-- img goes here -->
        </div>
        <div class="col-7 subone">
          <div class="mini">
            16×2 16×1 Board
          </div>
          <div>
            <p>
              LCD (Liquid Crystal Display) screen is an electronic
              display module and find a wide range of applications. A
              16×2 LCD display is very basic module and is very
              commonly used in various devices and circuits. These
              modules are preferred over seven segments and other multi
              segment LEDs. The reasons being: LCDs are economical;
              easily programmable; have no limitation of displaying
              special & even custom characters (unlike in seven
              segments), animations and so on.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="col-12 row p-0 m-0">
        <div class="col-5">
          <!-- img goes here -->
        </div>
        <div class="col-7 subone">
          <div class="mini">
            Lpc2148 Development Board(ARM7)
          </div>
          <div>
            <p>
              LPC2148 Pro Development Board is a powerful development
              platform based on LPC2148 ARM7TDMI microcontroller with
              512K on-chip memory. This board is powered by USB port and
              does not need external power supply. It is ideal for
              developing embedded applications involving high speed
              wireless communication (Zigbee / Bluetooth / WiFi), USB
              based data logging, real time data monitoring and control,
              interactive control panels etc.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="col-12 row p-0 m-0">
        <div class="col-5">
          <!-- img goes here -->
        </div>
        <div class="col-7 subone">
          <div class="mini">
            4 Wheel Robot
          </div>
          <div>
            <p>
              DC12V 4-wheel Robot Smart Car Chassis Kits car with Speed
              Encoder for Arduino Mechanical structure is simple, very
              easy to install the car comes with tachometer encoder Uses
              four deceleration direct current machine curve to be
              nimble, the directivity is good. Four actuations,
              horsepower fullness. The chassis big and steady very easy
              to expand Specification of Motor Voltage: DC 12V Current:1A
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>