.products-main {
  background-color: #dfe6e9;
  padding-bottom: 4.5% !important;
}
.mainclass {
  margin-top: 200px;
  font-family: SourceCodeProBlack;
  font-size: 50px;//font size should be changed to rem
  padding-bottom: 50px;//font size should be changed to rem
}
.card {
//   height: 400px;
  padding: 1%;
  margin-bottom: 50px;//font size should be changed to rem
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 0px;
}
.img-col{
  height: 100%;
  margin: auto 0px !important;
}
.subone {
  font-size: 0.813rem;
  margin: auto 0;
}
.mini {
  font-family: SourceCodeProBlack;
  margin-bottom: 25px;//change px to %
  font-size: 1.563rem;
}
p {
  text-align: justify;
  font-size: 1rem;
}
