.footer-main {
  position: fixed;
  bottom: 0;
  z-index: -1;
  // position: absolute;
  // bottom: 0px;
  background-color: #272626;
  // width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 600px;
  width: 100%;
  color: white;
  font-size: 0.8rem;
  border-bottom: 10px solid #ed3833;
  // box-shadow: inset 0px 3px 5px 0px #000000;
}
.footer-content {
  margin-top: 198px;
  line-height: 22px;
}
.footer-heading {
  font-size: 1rem;
}
.copyright-text {
  padding-top: 80px;
}
ul {
  list-style: none;
  padding: 0px;
  li {
    cursor: pointer;
    line-height: 22px;
    transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    &:after {
      transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    }
    &:before {
      transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
      width: 0px;
      height: 0px;
      margin-right: 2px;
      background-color: #ffffff;
      content: "";
      display: inline-flex;
      vertical-align: middle;
    }
  }
  li:hover {
    color: #ed3833;
    &:before {
      background-color: #ed3833;
      transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
      width: 12px;
      height: 1px;
    }
  }
}
.social-media-icon {
  margin-left: 12px;
  transition: 0.5s;
}
.social-media-icon:hover {
  cursor: pointer;
  transition: 0.5s;
  color: #ed3833;
}
@media (max-width: 768px) {
  .footer-contact-main {
    display: none;
  }
}
@media (max-height: 550px) {
  .copyright-text {
    padding-top: 20px;
  }
  .footer-content {
    padding-top: 50px !important;
  }
}
