<div class="container service-main">
    <div class="service-heading">Our Services</div>
    <div class="row card1">
        <div class="col-4 rectangle1">
            <!-- content goes here -->
        </div>
        <div class="col-8 rectangle2">
            <!-- content goes here -->
        </div>
    </div>
</div>
<div class="skillset-main">
    <div class="container">
        <div class="skill-heading ">Our Skill Set</div>
        <div class="firstline text-justify">BOTZ has vast experience in various technologies needed to develop a successful embedded
            systems project this
            includes:
        </div>
        <div class="sentences text-justify">
            <br> In depth knowledge of various programming languages such as C, C++,C#, Java and PHP.<br><br>

            Working to industry standards such as MISRA C1 '&'amp; C2, MISRA C++:2008 and JSF C++ Coding
            Standards.<br><br>

            Having vast knowledge and experience of developing software for major embedded operating systems.<br><br>

            Porting operating systems and develop BSPs for various hardware and software architectures.<br><br>

            Providing solutions based on a wide number of differing processor architectures from small 8-bit micros such
            as
            PIC or Atmel, through to multicore 32bit and 64bit processors.<br><br>

            Having working knowledge of the major processors currently in use in the embedded world such as Arm, X86,
            PowerPC and various DSP cores.<br><br>
        </div>
        <div class="design-heading ">Design and Implementation</div>
        <div class="sentences text-justify">We have extensive experience in designing and implementing real time embedded software. We prefer to design embedded software in UML, even if the code is to be implemented in languages that do not conform to the object oriented paradigm. We are happy to implement to either our designs or customer designs in Assembler, C, C++ or Java. The appointed language is dependent upon either the customer requirements or a project specific technical recommendation. We advocate either a waterfall process if the requirements are fixed, or an agile process if the flexibility to change the design during the development is needed.</div>
    </div>
</div>