.serviceclass {
  margin-top: 200px;
  margin-left: 278px;
}
.service-main {
  margin-top: 121px;
}
.service-heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 20px;
}
.card1 {
  margin: auto auto;
}
.rectangle1 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  height: 410px;
  margin-bottom: 10vh;
}
.rectangle2 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  height: 410px;
  margin-bottom: 10vh;
}
.skillset-main {
  background-color: #dfe6e9;
}
.skill-heading {
  font-size: 50px;
  font-family: SourceCodeProBlack;
  padding-bottom: 20px;
}
