.admin-dashboard-main {
  width: 100%;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.dashboard {
  font-size: 3.125rem;
  font-family: SourceCodeProBlack;
  color: #020202;
  text-align: left;
  font-weight: 900;
  margin-top: 200px;
}
.break-line {
  height: 1px;
  border: 0;
  margin-bottom: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.add-button {
  display: flex;
  margin-bottom: 47px;
  align-items: center;
  outline: 0;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 0;
  padding: 5px 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  .plus-icon {
    font-size: 2rem;
    font-weight: 900;
    padding-right: 10px;
  }
}
.blog-table {
  margin-top: 40px;
}
