<div class="admin-dashboard-main">
  <div class="container">
    <div class="dashboard">
      Hi Anoop, Welcome back
    </div>
    <hr class="break-line">
    <div>
      <button class="add-button" (click)="openModal(addBlogModal)">
        <span class="plus-icon">+ </span> New Blog
      </button>
    </div>
  </div>
  <div class="blod-table container">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cardObj of cardList; let i = index">
          <td>{{i}}</td>
          <td>{{cardObj.title}}</td>
          <td>Anoop Mathew</td>
          <td>{{cardObj.date}}</td>
          <th>
            <fa name="pencil" class="icon-pencil" (click)="openModal(editBlogModal)"> </fa>
            <fa name="trash" class="icon-trash" (click)="openModal(deleteBlogModal)"></fa>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #addBlogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a new blog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Blog Title</label>
        <div class="input-group">
          <input id="title" class="form-control" placeholder="Enter title of the blog">
        </div>
      </div>
      <div class="form-group">
        <label for="desc">Blog Content</label>
        <div class="input-group">
          <textarea id="desc" class="form-control" placeholder="Enter contents of the blog"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="img">Blog Image</label>
        <div class="input-group">
          <input id="img" type="file" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" disabled (click)="modal.close()">Add</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #editBlogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="title"> Edit blog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
              </div>
      <div class="form-group">
        <label for="desc">Blog Content</label>
        <div class="input-group">
          <textarea id="desc" class="form-control" placeholder="Edit the blog contents"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="img">Change Blog Image</label>
        <div class="input-group">
          <input id="img" type="file" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" disabled (click)="modal.close()">Update</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #deleteBlogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="Title">Delete blog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
       
      </div>
      <div class="form-group">
        <label for="desc">Do you want to delete this blog ?</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" disabled (click)="modal.close()">Conform</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>