<div class="admin-dashboard-main">
  <div class="container">
    <div class="dashboard">
      Hi Anoop, Welcome back
    </div>
    <hr class="break-line">
    <div>
      <button class="add-button">
        <span class="plus-icon">+ </span> New Blog
      </button>
    </div>
  </div>
  <div class="blod-table container">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Lorem Ipsum is simply dummy text of
            the printing and typesetting.</td>
          <td>Anoop Mathew</td>
          <td>05-01-2019</td>
          <th>edit&delete</th>
        </tr>
      </tbody>

    </table>
  </div>
</div>