<div class="row banner-main">
  <div class="container">
    <div class="banner-content">
      <h1>Igniting
        Robotic
        Minds</h1>
      <p>
        BOTZ EMBEDDED SOLUTIONS is a international multi- technology research and development center based in India,
        providing full lifecycle embedded software and hardware development services. BOTZ specialises in creating
        bespoke production grade embedded software systems.
      </p>
      <button class="btn ghost-btn">Know more</button>
    </div>
  </div>

  <video autoplay muted loop id="bgVideo">
    <source src="assets/videos/bg1.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>
<div class="row services-main">
  <div class="container">

  </div>
  <div class="container  ">
    <div class="row rc1">
      <div class="col-md-4 cardbg ">
        <img src="assets/img/ec1.png" class="ec1 ">
      </div>
      <div class="col-md-4 cardbg">
          <img src="assets/img/ec1.png" class="ec1 ">
      </div>
      <div class="col-md-4 cardbg">
          <img src="assets/img/ec1.png" class="ec1 ">
      </div>
      <div class="col-md-4 cardbg ">
        <img src="assets/img/ec1.png" class="ec1 ">
      </div>
      <div class="col-md-4 cardbg">
          <img src="assets/img/ec1.png" class="ec1 ">
      </div>
      <div class="col-md-4 cardbg">
          <img src="assets/img/ec1.png" class="ec1 ">
      </div>
    </div>
  </div>
</div>